#d1{
    background-color: blue;
    height: 300px;
    width: 400px;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
}
#d2{
    background-color: brown;
    height: 300px;
    width: 400px;
}