*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.LINK1{
    font-size: 30px;
    text-decoration: none;
    color: black;
    transition: font-size 2s;
    
}
.linkgrp{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.LINK1:HOVER{
    font-size: 50PX;
    color: brown;
}
.header>img{
    width: 250px;
}